small {
    font-size: 10px;
}

table {
    padding: 8px;
}

img {
    width: 500px;
    height: 350px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#guest-table {
    border-collapse: collapse;
}

#guest-table td, #guest-table th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 225px;
}

#guest-table tr:hover {
    background-color: #ddd;
}

#guest-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5093fc;
    color: white;
}

#search-container {
    padding-top: 12px;
    padding-bottom: 12px;
}

.col-sm-3 {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    padding-top: 6px;
    padding-bottom: 6px;
}